openapi: 3.0.3
info:
  title: Consultancy Platform API
  description: |
    RESTful API for the Consultancy Platform.

    ## Authentication
    The API uses token-based authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer <token>
    ```

    ## Rate Limiting
    - General API: 100 requests per 15 minutes
    - Authentication endpoints: 5 attempts per 15 minutes

    ## Response Format
    All responses follow a consistent format:
    ```json
    {
      "success": true|false,
      "data": <response data>,
      "message": "Optional message",
      "errors": { "field": ["error messages"] },
      "meta": { "pagination": {...} }
    }
    ```

  version: 1.0.0
  contact:
    name: API Support
    email: support@consultancy-platform.com
  license:
    name: Proprietary
    url: https://consultancy-platform.com/terms

servers:
  - url: https://consultancy-platform.com/api
    description: Production server
  - url: https://staging.consultancy-platform.com/api
    description: Staging server
  - url: http://localhost:8000/api
    description: Development server

tags:
  - name: Health
    description: Health check and monitoring endpoints
  - name: Content
    description: Public content endpoints (header, footer, pages, settings)
  - name: Pillars
    description: Service pillars/categories
  - name: Authentication
    description: User authentication endpoints
  - name: Services
    description: Consultancy services management
  - name: Orders
    description: Order management
  - name: Users
    description: User management
  - name: Contact
    description: Contact form submissions
  - name: FAQs
    description: Frequently asked questions
  - name: Admin
    description: Admin-only endpoints

paths:
  # =============================================================================
  # Health Check Endpoints
  # =============================================================================
  /health:
    get:
      tags:
        - Health
      summary: Basic health check
      description: Returns basic health status of the API
      operationId: healthCheck
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time

  /health/detailed:
    get:
      tags:
        - Health
      summary: Detailed health check
      description: Returns detailed health information including database and cache status
      operationId: healthDetailed
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  database:
                    type: string
                  cache:
                    type: string
                  timestamp:
                    type: string
                    format: date-time

  # =============================================================================
  # Content Endpoints
  # =============================================================================
  /content/header:
    get:
      tags:
        - Content
      summary: Get header content
      description: Returns header configuration including logo and navigation
      operationId: getHeaderContent
      responses:
        '200':
          description: Header content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/footer:
    get:
      tags:
        - Content
      summary: Get footer content
      description: Returns footer configuration including brand description and links
      operationId: getFooterContent
      responses:
        '200':
          description: Footer content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/theme:
    get:
      tags:
        - Content
      summary: Get theme settings
      description: Returns website theme configuration (colors, fonts)
      operationId: getTheme
      responses:
        '200':
          description: Theme configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/settings:
    get:
      tags:
        - Content
      summary: Get site settings
      description: Returns general site settings (site name, contact info)
      operationId: getSiteSettings
      responses:
        '200':
          description: Site settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/website-settings:
    get:
      tags:
        - Content
      summary: Get website settings
      description: Returns website configuration including page visibility and maintenance mode
      operationId: getWebsiteSettings
      responses:
        '200':
          description: Website settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/pages/home:
    get:
      tags:
        - Content
      summary: Get home page content
      description: Returns home page specific content
      operationId: getHomePage
      responses:
        '200':
          description: Home page content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/pages/about:
    get:
      tags:
        - Content
      summary: Get about page content
      description: Returns about page specific content
      operationId: getAboutPage
      responses:
        '200':
          description: About page content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/pages/contact:
    get:
      tags:
        - Content
      summary: Get contact page content
      description: Returns contact page specific content
      operationId: getContactPage
      responses:
        '200':
          description: Contact page content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # =============================================================================
  # Pillars Endpoints
  # =============================================================================
  /pillars:
    get:
      tags:
        - Pillars
      summary: List all pillars
      description: Returns all active service pillars/categories
      operationId: listPillars
      responses:
        '200':
          description: List of pillars
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pillar'

  /pillars/{slug}:
    get:
      tags:
        - Pillars
      summary: Get pillar by slug
      description: Returns a specific pillar by its slug
      operationId: getPillar
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: business-consultancy
      responses:
        '200':
          description: Pillar details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Pillar'
        '404':
          description: Pillar not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /pillars/{slug}/services:
    get:
      tags:
        - Pillars
      summary: Get services for a pillar
      description: Returns all services (one-off and subscription) under a specific pillar
      operationId: getPillarServices
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pillar services
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      pillar:
                        $ref: '#/components/schemas/Pillar'
                      one_off:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                      subscription:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'

  /pillars/{slug}/faqs:
    get:
      tags:
        - Pillars
      summary: Get FAQs for a pillar
      description: Returns FAQs specific to a pillar plus global FAQs
      operationId: getPillarFaqs
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pillar FAQs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      pillar_faqs:
                        type: array
                        items:
                          $ref: '#/components/schemas/Faq'
                      global_faqs:
                        type: array
                        items:
                          $ref: '#/components/schemas/Faq'

  /services/featured:
    get:
      tags:
        - Services
      summary: Get featured services
      description: Returns featured/highlighted services for display on home page
      operationId: getFeaturedServices
      responses:
        '200':
          description: Featured services
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'

  /faqs/global:
    get:
      tags:
        - FAQs
      summary: Get global FAQs
      description: Returns FAQs that are not specific to any pillar
      operationId: getGlobalFaqs
      responses:
        '200':
          description: Global FAQs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Faq'

  # =============================================================================
  # Authentication Endpoints
  # =============================================================================
  /users/register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      description: Create a new user account
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'

  /users/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and receive access token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '422':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'

  /users/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate the current authentication token
      operationId: logoutUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users/me:
    get:
      tags:
        - Users
      summary: Get current user
      description: Retrieve the authenticated user's profile
      operationId: getCurrentUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Services Endpoints
  # =============================================================================
  /services:
    get:
      tags:
        - Services
      summary: List all services
      description: Retrieve a list of all available consultancy services
      operationId: listServices
      parameters:
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
        - name: pillar
          in: query
          description: Filter by pillar ID
          schema:
            type: integer
        - name: featured
          in: query
          description: Filter featured services only
          schema:
            type: boolean
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesListResponse'

  /services/{id}:
    get:
      tags:
        - Services
      summary: Get service details
      description: Retrieve detailed information about a specific service
      operationId: getService
      parameters:
        - name: id
          in: path
          required: true
          description: Service ID
          schema:
            type: integer
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '404':
          description: Service not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Orders Endpoints
  # =============================================================================
  /orders:
    get:
      tags:
        - Orders
      summary: List user orders
      description: Retrieve orders for the authenticated user
      operationId: listOrders
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by order status
          schema:
            type: string
            enum: [pending, processing, completed, cancelled]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersListResponse'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags:
        - Orders
      summary: Create new order
      description: Submit a new order for consultancy services
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /orders/{id}:
    get:
      tags:
        - Orders
      summary: Get order details
      description: Retrieve detailed information about a specific order
      operationId: getOrder
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Order ID
          schema:
            type: integer
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Contact Endpoints
  # =============================================================================
  /contact:
    post:
      tags:
        - Contact
      summary: Submit contact form
      description: Send a contact form message
      operationId: submitContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        '201':
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'

  # =============================================================================
  # FAQs Endpoints
  # =============================================================================
  /faqs:
    get:
      tags:
        - FAQs
      summary: List FAQs
      description: Retrieve frequently asked questions
      operationId: listFaqs
      parameters:
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
      responses:
        '200':
          description: List of FAQs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaqsListResponse'

  # =============================================================================
  # Admin Endpoints
  # =============================================================================
  /auth/login:
    post:
      tags:
        - Admin
      summary: Admin login
      description: Authenticate admin user
      operationId: adminLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAuthResponse'
        '422':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # =============================================================================
    # Request Schemas
    # =============================================================================
    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
          example: John Doe
        email:
          type: string
          format: email
          example: john@example.com
        password:
          type: string
          minLength: 6
          example: securepass123
        company:
          type: string
          example: Acme Inc
        phone:
          type: string
          example: '+1234567890'

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: john@example.com
        password:
          type: string
          example: securepass123

    CreateOrderRequest:
      type: object
      required:
        - customer
        - items
      properties:
        customer:
          type: object
          required:
            - name
            - email
          properties:
            name:
              type: string
              example: John Doe
            email:
              type: string
              format: email
              example: john@example.com
            phone:
              type: string
              example: '+1234567890'
            company:
              type: string
              example: Acme Inc
        items:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - id
            properties:
              id:
                type: integer
                description: Service ID
                example: 1
              quantity:
                type: integer
                minimum: 1
                maximum: 100
                default: 1
                example: 2
        notes:
          type: string
          maxLength: 1000
          example: Please contact me in the morning

    ContactRequest:
      type: object
      required:
        - name
        - email
        - message
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
          example: John Doe
        email:
          type: string
          format: email
          example: john@example.com
        phone:
          type: string
          example: '+1234567890'
        subject:
          type: string
          maxLength: 200
          example: Service Inquiry
        message:
          type: string
          minLength: 10
          maxLength: 5000
          example: I would like to learn more about your services...

    # =============================================================================
    # Response Schemas
    # =============================================================================
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          nullable: true
        message:
          type: string
          example: Operation completed successfully
        errors:
          type: object
          nullable: true
        meta:
          type: object
          nullable: true

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        data:
          type: object
          nullable: true
        message:
          type: string
          example: An error occurred
        errors:
          type: object
          nullable: true

    ValidationError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Validation failed
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
              - Please provide a valid email address
            password:
              - Password must be at least 6 characters

    RateLimitError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Too many requests, please try again later
        errors:
          type: object
          properties:
            rate_limit:
              type: array
              items:
                type: string
              example:
                - Rate limit exceeded

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/User'
            token:
              type: string
              example: user-token-1234567890
        message:
          type: string
          example: Login successful

    AdminAuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/AdminUser'
            token:
              type: string
              example: admin-token-1234567890

    UserResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        email:
          type: string
          format: email
          example: john@example.com
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        company:
          type: string
          nullable: true
          example: Acme Inc
        phone:
          type: string
          nullable: true
          example: '+1234567890'
        status:
          type: string
          enum: [active, inactive, suspended]
          example: active
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AdminUser:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Admin User
        email:
          type: string
          format: email
          example: admin@consultancy.com
        role:
          type: string
          example: admin

    Service:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Business Strategy Consultation
        description:
          type: string
          example: Comprehensive business strategy development
        price:
          type: number
          format: float
          example: 299.99
        category:
          type: string
          example: Strategy
        pillar_id:
          type: integer
          example: 1
        featured:
          type: boolean
          example: true
        image:
          type: string
          nullable: true
          example: /images/services/strategy.jpg
        status:
          type: string
          enum: [active, inactive]
          example: active
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ServiceResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Service'

    ServicesListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Service'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    Order:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_number:
          type: string
          example: ORD-2024-001234
        customer:
          type: object
          properties:
            name:
              type: string
              example: John Doe
            email:
              type: string
              example: john@example.com
            phone:
              type: string
              example: '+1234567890'
            company:
              type: string
              example: Acme Inc
        items:
          type: array
          items:
            type: object
            properties:
              service:
                $ref: '#/components/schemas/Service'
              quantity:
                type: integer
                example: 1
              price:
                type: number
                example: 299.99
        subtotal:
          type: number
          example: 299.99
        total:
          type: number
          example: 299.99
        status:
          type: string
          enum: [pending, processing, completed, cancelled]
          example: pending
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Order'
        message:
          type: string
          example: Order created successfully

    OrdersListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    Faq:
      type: object
      properties:
        id:
          type: integer
          example: 1
        question:
          type: string
          example: How do I schedule a consultation?
        answer:
          type: string
          example: You can schedule a consultation by...
        category:
          type: string
          example: General
        order:
          type: integer
          example: 1

    FaqsListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Faq'

    Pillar:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Business Consultancy
        slug:
          type: string
          example: business-consultancy
        tagline:
          type: string
          example: Strategic solutions for your business
        description:
          type: string
          example: Comprehensive business consultancy services
        hero_image:
          type: string
          nullable: true
          example: /images/pillars/business.jpg
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            last_page:
              type: integer
              example: 5
            per_page:
              type: integer
              example: 20
            total:
              type: integer
              example: 100
            from:
              type: integer
              example: 1
            to:
              type: integer
              example: 20
